[Unit]
Description=Service Server Minecraft test
After=network.target

[Service]
Type=forking

ExecStart=/usr/bin/screen -dmS pi /opt/minecraft/mc-run.sh

ExecStop=/usr/bin/screen -p 0 -S pi eval 'stuff"save-all"\015'
ExecStop=/usr/bin/screen -p 0 -S pi -X eval 'stuff "stop"\015'

